
html, body{
	width: 100%;
	height: 100%;
}

body{
	font-family: "Helvetica", sans-serif;
	font-size: 13px;
	background: #88969c;
	overflow: hidden;
}

#info{
	display:none;
}

#sun{
	& img{
		animation:myRotate 10s infinite linear;
		-webkit-animation:myRotate 10s infinite linear;
	}
	-webkit-transition: all 4s ease-in ;
	transition: all 4s ease-in;
	-webkit-transform: translate(-210px,0);
	transform: translate(-210px,0);

	&.move-in{
		-webkit-transform: translate(60%,30%);
		transform: translate(60%,30%);
	}
}

#bird{
	& img{
		animation:tilt 2s infinite  alternate;
		-webkit-animation:tilt 2s infinite  alternate;
	}
	-webkit-transition: all 5s linear ;
	transition: all 5s linear;
	-webkit-transform: translate(100%,0);
	transform: translate(100%,0);
	z-index:2;

	&.move-in{
		-webkit-transform: translate(40%,0);
		transform: translate(40%,0);
	}
}

#cloud{
	& img{
		animation:tilt2 2s infinite alternate;
		-webkit-animation:tilt2 2s infinite  alternate;
		-webkit-backface-visibility: hidden;
	}
	position: absolute;
	top:0;
	left:0;
	-webkit-transition: all 4s ease-in ;
	transition: all 4s linear;
	-webkit-transform: translate(-610px,0);
	transform: translate(-610px,0);
	z-index:-1;

	&.move-in{
		-webkit-transform: translate(60%,-5%);
		transform: translate(60%,-5%);
	}
}

#cloud2{
	& img{
		animation:tilt2 2s infinite alternate;
		-webkit-animation:tilt2 2s infinite  alternate;
		-webkit-backface-visibility: hidden;
	}
	-webkit-transition: all 4s ease-in ;
	transition: all 4s linear;
	-webkit-transform: translate(100%,0);
	transform: translate(100%,0);

	&.move-in{
		-webkit-transform: translate(70%,30%);
		transform: translate(70%,300%);
	}
}

#rainbow{
	-webkit-transition: all 4s ease-in ;
	transition: all 4s ease-ins;
	-webkit-transform: translate(0,100%);
	transform: translate(0,100%);

	&.move-in{
		-webkit-transform: translate(0,-10%);
		transform: translate(0,-10%);
	}
}

#sky{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:70%;
	z-index: -2;
	background: #37A3D3;
	-webkit-box-shadow: 0px 5px 21px rgba(50, 50, 50, 0.82);
	-moz-box-shadow:    0px 5px 21px rgba(50, 50, 50, 0.82);
	box-shadow:         0px 5px 21px rgba(50, 50, 50, 0.82);

	-webkit-transition: all 4s ease-in ;
	transition: all 4s linear;
	-webkit-transform: translate(0,-100%);
	transform: translate(0,-100%);

	&.move-in{
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}
}

@keyframes tilt
{
	from {transform:rotate(-20deg);}
	to {transform:rotate(30deg);}
}

@-webkit-keyframes tilt /* Safari and Chrome */
{
	from {-webkit-transform:rotate(-20deg);}
	to {-webkit-transform:rotate(30deg);}
}

@keyframes tilt2
{
	from {margin-left:0px;}
	to {margin-left: 30px;}
}

@-webkit-keyframes tilt2 /* Safari and Chrome */
{
	from {margin-left:0;}
	to {margin-left:20px;;}
}

@keyframes myRotate
{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

@-webkit-keyframes myRotate /* Safari and Chrome */
{
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

$btn-size: 50px;

.btn-wrapper{ 
	position: absolute;
	top:50%;
	left: 50%;
	width: 30%;
	margin:0 0 0 -15%;

	& div{
		cursor:pointer;
		display:inline-block;
		background: #efefef;
		border-radius: 50%;
		width: $btn-size;
		height: $btn-size; 
		margin: 3%;

		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #8e8e8e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#8e8e8e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#8e8e8e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#8e8e8e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#8e8e8e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#8e8e8e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8e8e8e',GradientType=0 ); /* IE6-9 */

		-webkit-box-shadow: 5px 5px 21px rgba(50, 50, 50, 0.82);
		-moz-box-shadow:    5px 5px 21px rgba(50, 50, 50, 0.82);
		box-shadow:         5px 5px 21px rgba(50, 50, 50, 0.82);

		&:hover{
			-webkit-box-shadow: 2px 2px 12px rgba(50, 50, 50, 0.82);
			-moz-box-shadow:    2px 2px 12px rgba(50, 50, 50, 0.82);
			box-shadow:         2px 2px 12px rgba(50, 50, 50, 0.82);
			opacity:0.9;
		}


		& div{
			$size: $btn-size*0.8;
			width: $size;
			height: $size;			
			margin: $size*0.11 0 0 $size*0.11;

			background: #afafaf; /* Old browsers */
			background: -moz-linear-gradient(-45deg,  #afafaf 1%, #ffffff 99%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#afafaf), color-stop(99%,#ffffff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(-45deg,  #afafaf 1%,#ffffff 99%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(-45deg,  #afafaf 1%,#ffffff 99%); /* Opera 11.10+ */
			background: -ms-linear-gradient(-45deg,  #afafaf 1%,#ffffff 99%); /* IE10+ */
			background: linear-gradient(135deg,  #afafaf 1%,#ffffff 99%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		}
	}
}

