#siteInput{
	width: 30%;
	height: 40px;
	border: 1px solid black;
	z-index: 100;
}

html, body, #main-container{
    width: 100%;
    height:100%;
    background: #efefef;
}

#main-container{
	background: #ffffff;
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f3f3f3 50%, #b5b5b5 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(100%,#b5b5b5));
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f3f3f3 50%,#b5b5b5 100%);
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#f3f3f3 50%,#b5b5b5 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#f3f3f3 50%,#b5b5b5 100%);
	background: radial-gradient(ellipse at center,  #ffffff 0%,#f3f3f3 50%,#b5b5b5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b5b5b5',GradientType=1 );

}
